@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Acknowledge Receipt";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acknowledgment Receipt</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/e49025cb51.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="pdf-wrapper">
    <div class="pdf-content">
    <p id="ReceivedFrom">
        Chrisdan Evalla
    </p>

    <p id="UnitType">
        One Bedroom
    </p>

     <p id="ScenicView">
        TAAL VIEW
    </p>

    <p id="FloorUnitNo">
        4th Floor/4-403
    </p>

    <p id="UnitArea">
        55.5sqm.
    </p>

    <p id="ParkingSlot">
        RP-12
    </p>

    <p id="ParkingArea">
        12.5sqm
    </p>

    <p id="ReservationConfirmationNo">
        ABCDEFG
    </p>

    <img src="~/files/forms/acknowledgment pdf.jpg" />
    </div>
</div>

    <script type="text/javascript">
        window.print();
    </script>
</body>
</html>

