* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
}

@font-face {
    font-family: "Inter Regular";
    src: url("/fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter Semibold";
    src: url("/fonts/Inter-SemiBold.ttf");
}

@font-face {
    font-family: "Inter Extrabold";
    src: url("/fonts/Inter-ExtraBold.ttf");
}

.primary-color {
    color: #516C5B !important;
}


body {
    font-family: 'Inter Regular', Arial, sans-serif;
    font-size: 0.8rem;
    overflow: hidden;
}

h1 {
    font-size: 2.63rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.88rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.125rem;
}

p {
    font-size: .9rem;
}

.alink {
    color: #6AB0F8;
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Edge, Opera and Firefox */
}

.unlink{
    color: black;
}

form.row, form.row .row {
    margin-left: 0px;
    margin-right: 0px;
}

.spacer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#floor-plan{
    margin-top: 4rem;
}

#floor-plan svg,
#floor-plan img {
    width: 100%;
    height: auto;
    padding: 0.75rem;
}

.floor-area-wrapper{
    display: flex;
}

.floor-selection-area {
    width: 15%;
    min-height: 80vh;
    padding: 1rem;
}

.floor-selection-area .list-group-item{
    text-align: center;
    cursor: pointer;
    font-size: .8rem;
}

.floor-selection-area .list-group-item:hover,
.floor-selection-area .list-group-item:hover a{
    background-color: #6AB0F8;
    border-color: #6AB0F8;
    color: white;
 }


.floor-selection-area .list-group-item.active {
    background-color: #516C5B;
    border-color: #516C5B;
}

.floor-selection-area .list-group-item a {
    color: #516C5B;
}

.floor-selection-area .list-group-item.active a{
    color: white;
}

.floor-viewing-area {
    position: relative;
    width: 85%;
    min-height: 80vh;
}

.floor-viewing-area .button-area{
    float: right;
}

#legends {
    position: absolute;
    right: 5%;
    top: 8%;
}

#legends ul{
    padding-left: 0;
}

#legends h5{
    font-size: 1rem;
}

#legends ul li {
    display: flex;
    font-size: .75rem;
    margin-bottom: 0.75rem;
    font-family: 'Inter Extrabold', Arial, sans-serif;
}

.leg {
    height: 25px;
    width: 70px;
    margin-right: 0.5rem;
}

.leg.available {
    background-color: #00FF01;
}

.leg.sold {
    background-color: #FE0000;
}

.leg.reserved{
    background-color: #FEA500;
}

.leg.blocked{
    background-color: rgba(87,87,87,1);
}

/*X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.88rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    h5 {
        font-size: 1.125rem;
    }

    h6 {
        font-size: 1rem;
    }

    p {
        font-size: .9rem;
    }
}

strong, label {
    font-family: 'Inter Extrabold', Arial, sans-serif;
}


.hide {
    display: none;
}

a {
    color: #6AB0F8;
    text-decoration: unset;
}

a:hover {
    color: #7BA8D1;
}


ul.noliststyle {
    padding-left: 0;
}

ul.noliststyle > li {
    list-style: none;
    margin-bottom: .5rem;
}

.btn{
    font-size: 0.9rem;
}

/*Button Styles*/
.btn-primary {
    background-color: #516C5B;
    color: white;
    border-color: #516C5B;
    border-radius: 0px;
    padding-left: 50px;
    padding-right: 50px;
}


.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #678B75 !important;
    color: white;
    border-color: #678B75 !important;
    box-shadow: none;
}

.btn-secondary {
    border-radius: 0px;
    padding-left: 50px;
    padding-right: 50px;
}

.form-wrapper {
    display: flex;
    align-items: center;
}

.form-section {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.taaldc-sidenav {
    background-color: #678B75 !important;
    z-index: 1;
    transition: all 100ms;
}

.taaldc-sidenav .nav-link {
    color: #FFFF !important;
    text-decoration: unset;
}

.taaldc-sidenav .nav-item {
    margin-bottom: 0.75rem !important;
}

@media (max-width: 1240px) {
    .taaldc-sidenav {
        display: none;
        min-width: 80%;
    }

    .login-banner {
        display: none;
    }

    .form-wrapper {
        min-height: 100vh;
    }
}


main {
    background-color: #F6F6F6;
    min-height: 100vh;
}

.content-wrapper {
    overflow-y: scroll;
    max-height: 100vh;
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.main-nav {
    position: sticky;
    width: 100%;
    background-color: #ffff !important;
    height: 70px;
    z-index: 999;
}


.nav-tabs .nav-item {
    min-width: 170px;
    text-align: center;
}

.nav-link {
    color: #252525 !important;
}

.nav-link.active {
    color: #678B75 !important;
    font-family: 'Inter Extrabold', Arial, sans-serif;
}

.tab-content {
    border: 1px solid #dee2e6;
    border-top: none;
    background-color: #ffff;
    padding: 1.5rem !important;
}


.float-right {
    float: right;
}

.action-btn, .action-section {
    margin-bottom: 1rem;
}

.action-edit, .action-delete {
    margin-right: 1rem;
}


.data-section {
    margin-bottom: 1rem;
    width: 100%;
}

.action-edit {
    color: #06AE2B;
}

.action-delete {
    color: #AE1006;
}

.action-search {
    float: left;
    margin-bottom: 1rem;
}

.action-search form{
    display: flex;
}

/* Form Styles */
label {
    color: #516C5B;
}

.form-control {
    border-radius: 0px;
    font-size: 0.9rem;
}

.form-control:focus {
    border: 3px solid #678B75;
    box-shadow: none;
}

.form-check-input {
    border-color: #678B75;
}

.form-check-input:focus {
    box-shadow: none;
}

.form-check-input:checked {
    background-color: #516C5B;
    border-color: #516C5B;
}

.invalid-feedback {
    font-size: 1rem;
    font-weight: 700;
}


.reservationfields,
.dpfields,
.corpFields{
    display: none;
}


.sales-table {
    min-width: 1080px;
}

.unit-summary {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.stats-card{
    margin-bottom: 1rem;
}

.stats-card:hover{
    background-color: #dcdcdc;
}

.status {
    margin-bottom: 0.5rem;
}

.status.available {
    color: #09FF64;
}

.status.reserved {
    color: #FAC301;
}

.status.sold {
    color: #FF0000;
}

.status.blocked {
    color: #808080;
}

.stats-card .unit {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Inter Extrabold', Arial, sans-serif;
}


.nav-pills .nav-link {
    min-width: 150px;
    text-align: center;
}

.nav-pills .nav-link.active {
    background-color: #516C5B;
    color: white !important;
}

.stats-table th, .stats-table td{
    text-align: center;
}

tr.danger td{
    color: red !important;
}

tr.accepted td{
    color: green !important;
}

.icon-1, .icon-2, .icon-3 {
    position: absolute;
    top: 50%;
    width: 28px;
    height: 3px;
    background-color: black;
    transition: all 400ms cubic-bezier(.84,.06,.52,1.8);
}

.icon-1 {
    transform: translateY(-8px);
    animation-delay: 100ms;
}

.icon-3 {
    transform: translateY(8px);
    animation-delay: 250ms;
}


.hamburger-icon {
    z-index: 110;
    cursor: pointer;
    width: 32px;
    height: 40px;
    position: absolute;
    left: 2%;
}


.modal-title {
    font-family: 'Inter Extrabold', Arial, sans-serif;
}

@media (max-width: 1240px) {
    .hamburger-icon{
        left: 6%;
    }
}


/*Form Loading*/
.formLoader {
    display: none;
    background: rgba(254,254,254,.5);
    overflow: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
    min-height: 150px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

    .formLoader ul {
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 999999;
        margin: 0;
    }

@keyframes preload {
    0% {
        background: #516C5B;
        opacity: 1
    }

    50% {
        background: #fff;
        opacity: 0.5
    }

    100% {
        background: #516C5B;
        opacity: 1
    }
}

.formLoader .formLoading {
    display: flex;
    align-items:center;
    justify-content:center;
    height: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
   /* top: 50%;
    left: 100%;*/
  /*  transform: translateY(-50%);
    transform: translateX(-50%);*/
    position: absolute;
    width: 100%;
    padding: 0;
}

    .formLoader .formLoading li {
        background: #fff;
        opacity: 0.5;
        display: block;
        float: left;
        width: 12px;
        height: 12px;
        border: 1px solid #516C5B;
        line-height: 12px;
        padding: 0;
        position: relative;
        margin: 0 0 0 4px;
        animation: preload 1s infinite;
    /*    top: -50%;*/
        border-radius: 50%;
    }

        .formLoader .formLoading li:first-child {
            margin-left: 0
        }

        .formLoader .formLoading li:nth-child(2) {
            animation-delay: .15s
        }

        .formLoader .formLoading li:nth-child(3) {
            animation-delay: .3s
        }

.formLoader.formLoader-complete {
    opacity: 0;
    visibility: hidden;
    transition-duration: 1s
}


#selected-units-list li {
    padding: 1.5rem;
    border: 1px solid #516C5B;
    /* border-radius: 5px; */
    list-style: none;
    /* font-weight: 700; */
    /* background: #dcdcdc; */
    margin-bottom: 1rem !important;
}

li.order-item{
    cursor: pointer;
}

.cursor-pointer{
    cursor: pointer;
}

.pdf-wrapper {
    text-align: center;
    position: relative;
}

.pdf-content{
    width: 100%;
    position: absolute;
}


.pdf-wrapper img{
    height: 100vh;
    width: auto;
}

#ReceivedFrom,
#UnitType,
#ScenicView,
#FloorUnitNo,
#UnitArea,
#ParkingSlot,
#ParkingArea,
#ReservationConfirmationNo {
    display: none;
}

.buyerinfo #LastName,
.buyerinfo #MiddleName,
.buyerinfo #FirstName,
.buyerinfo #HomeAddress,
.buyerinfo #BusinessAddress,
.buyerinfo #Single,
.buyerinfo #Married,
.buyerinfo #Widowed {
    display: none;
}



@media print {
    /* All your print styles go here */
    nav, main {
        display: none !important;
    }


    .pdf-wrapper {
        text-align: center;
        position: relative;
    }


        .pdf-wrapper img {
            height: 100vh;
            width: auto;
        }

    #ReceivedFrom,
    #UnitType,
    #ScenicView,
    #FloorUnitNo,
    #UnitArea,
    #ParkingSlot,
    #ParkingArea,
    #ReservationConfirmationNo {
        display: block;
        position: fixed;
        font-family: serif;
        font-weight: 700;
        font-size: 12px;
    }

    #ReceivedFrom {
        left: 280px;
        top: 210px;
    }

    #UnitType {
        right: 260px;
        top: 310px;
    }

    #ScenicView {
        right: 260px;
        top: 333px;
    }

    #FloorUnitNo {
        right: 260px;
        top: 355px;
    }

    #UnitArea {
        right: 260px;
        top: 375px;
    }

    #ParkingSlot {
        right: 260px;
        top: 395px;
    }

    #ParkingArea {
        right: 260px;
        top: 415px;
    }

    #ReservationConfirmationNo {
        right: 260px;
        top: 605px;
    }



    .buyerinfo #LastName,
    .buyerinfo #MiddleName,
    .buyerinfo #FirstName,
    .buyerinfo #HomeAddress,
    .buyerinfo #BusinessAddress,
    .buyerinfo #Single,
    .buyerinfo #Married,
    .buyerinfo #Widowed{
        display: block;
        position: fixed;
        font-family: serif;
        font-weight: 700;
        font-size: 12px;
    }

    .buyerinfo #LastName {
        left: 200px;
        top: 240px;
    }

    .buyerinfo #MiddleName {
        right: 160px;
        top: 240px;
    }

    .buyerinfo #FirstName {
        left: 370px;
        top: 240px;
    }

    .buyerinfo #HomeAddress {
        left: 210px;
        top: 290px;
    }

    .buyerinfo #BusinessAddress {
        left: 210px;
        top: 320px;
    }

    .buyerinfo #Single {
        left: 220px;
        top: 495px;
    }

    .buyerinfo #Married {
        left: 340px;
        top: 495px;
    }

    .floor-plan-print-block svg,
    .floor-plan-print-block img {
        margin-top: 5%;
        display: block;
    }

    #legends {
        position: absolute;
        right: 5%;
        top: 5%;
    }

    #legends ul li {
        font-size: 0.7rem;
    }
}