@{
    ViewData["Title"] = "Buyers";
}


<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-controller="Buyers" asp-action="Index">Buyers</a>
        </li>
    </ul>


    <div class="tab-content">
        <h1>
            <strong>
                Buyers
            </strong>
        </h1>
    </div>
</div>