@{
    ViewData["Title"] = "Quick Create";
}


<div class="container-fluid">
    <div class="tab-content">
        <h1>
            <strong>
                Quick Create
            </strong>
        </h1>
    </div>
</div>