@model TaalDc.Portal.ViewModels.Users.UserIndexViewModel

@{
    ViewBag.Title = "Users";
    Layout = "_Layout";
}

<div class="container-fluid">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-controller="Users" asp-action="Index">User Management</a>
        </li>
    </ul>
    
    <!-- Tab Contents -->
    <div class="tab-content">
        <div class="action-section">
            <div class="action-btn text-end">
                <a asp-controller="Users" asp-action="CreateUser" class="btn btn-primary">New User</a>
            </div>
        </div>
    </div>
    
    <!-- Tables -->
    <div class="data-section">
        <div class="table-responsive w-100 mb-3">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>User Email</th>
                    <th>Roles</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach(var prop in Model.ListOfUsers)
                {
                    <tr>
                        <td>@prop.Email</td>
                        <td>@(prop.GetRolesAsString() ?? "No role") </td>
                        <td class="float-right">
                             <a asp-controller="Users" asp-action="UpdateUser" asp-route-id="@prop.Id">Edit</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <!-- End of tables -->
    
</div>
