@model TaalDc.Portal.ViewModels.Users.UpdateUserViewModel;

@{
    ViewBag.Title = "Update User";
    Layout = "_Layout";

    IEnumerable<string> Roles = (IEnumerable<string>)ViewData["Roles"];
}



<div class="container-fluid">
    <h4 class="primary-color mb-3">
        <strong>
            Update User Account
        </strong>
    </h4>
    <div>
        <form id="userForm" method="post" class="row mb-5 needs-validation" asp-action="Put" asp-route-id="@Model.Id" asp-controller="Users">
            <input type="hidden" asp-for="Id"/>
            <div class="mb-3 col-lg-4">
                <label asp-for="FirstName" class="form-label"><strong>First Name</strong></label>
                <input asp-for="FirstName" class="form-control" required/>
                <div class="invalid-feedback">
                    This is a required field.
                </div>
            </div>
            <div class="mb-3 col-lg-4">
                <label asp-for="LastName" class="form-label"><strong>Last Name</strong></label>
                <input asp-for="LastName" class="form-control" required/>
                <div class="invalid-feedback">
                    This is a required field.
                </div>
            </div>
            <div class="mb-3 col-lg-3">
                <label asp-for="MiddleName" class="form-label"><strong>Middle Name</strong></label>
                <input asp-for="MiddleName" class="form-control"/>
            </div>
            <div class="mb-3 col-lg-1">
                <label asp-for="NameSuffix" class="form-label"><strong>Suffix</strong></label>
                <input asp-for="NameSuffix" class="form-control"/>
            </div>
            <div class="mb-3 col-lg-8">
                <label asp-for="Emailaddress" class="form-label"><strong>Email Address</strong></label>
                <input asp-for="Emailaddress" class="form-control" readonly="readonly" required/>
                <div class="invalid-feedback">
                    This is a required field.
                </div>
            </div>
            <div class="mb-3 col-lg-4">
                <label asp-for="Role" class="form-label"><strong>Role</strong></label>
                <select asp-for="Role" class="form-control form-select" required>
                    @foreach (var role in Roles)
                    {
                        <option value="@role">
                            @role
                        </option>
                    }
                </select>
                <div class="invalid-feedback">
                    This is a required field.
                </div>
            </div>
            <div class="mb-3 col-lg-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true" asp-for="IsActive">
                    <label class="form-check-label" asp-for="IsActive">
                        IsActive?
                    </label>
                </div>
            </div>
            <div class="col-lg-12">
                <input id="property-form-submit" class="btn btn-primary" type="submit" value="Save"/>
            </div>
        </form>
        
    
    </div>
</div>

