@{
    ViewBag.Title = "Page Not Found";
    Layout = "_Layout";
}


<div class="container-fluid">
    <div class="tab-content text-center" style="min-height: 80vh;display: flex; align-items: center; justify-content: center;">
        <div>
            <h1 class="primary-color">
                <strong>Page Not Found</strong>
            </h1>
            <p>
                The page you are trying to access doesn't exist. Please check the page link.
            </p>
        </div>
    </div>
</div>