@{
    ViewBag.Title = "Sales";
    Layout = "_Layout";

    var filter = Context.Request.Query["filter"].FirstOrDefault();
}


<div class="container-fluid">
     <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-controller="Sales" asp-action="Index">Sold</a>
        </li>
         
        <li class="nav-item">
            <a class="nav-link" asp-controller="Sales" asp-action="Reserved">Reserved</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Sales" asp-action="Blocked">Blocked</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Sales" asp-action="Cancelled">Cancelled</a>
        </li>
    </ul>


    <div class="tab-content">
        <div class="action-section">
            <div class="action-btn text-end">
                <a asp-controller="Sales" asp-action="Create" class="btn btn-primary">New Sales</a>
            </div>

            <div class="action-search">
                <form>
                    <input name="filter" value="@(!string.IsNullOrEmpty(filter)? filter: "")" class="form-control" placeholder="Search..." />
                </form>
            </div>
        </div>

        <div class="data-section">
            <div class="table-responsive w-100 mb-3">
                <table class="table table-striped">
                     <thead>
                        <tr>
                            <th>ID</th>
                            <th>Customer Name</th>
                            <th>Tower</th>
                            <th>Unit Type</th>
                            <th>Unit No.</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Juan dela Cruz</td>
                            <td>Common Tower</td>
                            <td>1BR TAAL VIEW</td>
                            <td>4-413</td>
                            <td>
                                <a class="action-edit" href="#">Edit</a>
                                <a class="action-delete" href="#">Delete</a>
                            </td>
                        </tr>

                        <tr>
                            <td>1</td>
                            <td>Juan dela Cruz</td>
                            <td>Common Tower</td>
                            <td>1BR TAAL VIEW</td>
                            <td>4-413</td>
                            <td>
                                <a class="action-edit" href="#">Edit</a>
                                <a class="action-delete" href="#">Delete</a>
                            </td>
                        </tr>

                         <tr>
                            <td>1</td>
                            <td>Juan dela Cruz</td>
                            <td>Common Tower</td>
                            <td>1BR TAAL VIEW</td>
                            <td>4-413</td>
                            <td>
                                <a class="action-edit" href="#">Edit</a>
                                <a class="action-delete" href="#">Delete</a>
                            </td>
                        </tr>

                         <tr>
                            <td>1</td>
                            <td>Juan dela Cruz</td>
                            <td>Common Tower</td>
                            <td>1BR TAAL VIEW</td>
                            <td>4-413</td>
                            <td>
                                <a class="action-edit" href="#">Edit</a>
                                <a class="action-delete" href="#">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>