@using TaalDc.Portal.DTO.Catalog;
@model TaalDc.Portal.ViewModels.Catalog.FloorCreate_ClientDto

@{
    List<Tower_ClientDto> towers = ViewBag.Towers;

    ViewBag.Title = "Create Floor";
    Layout = "_Layout";
}


<div class="container-fluid">
    <h4 class="primary-color mb-3">
        <strong>
            New Floor
        </strong>
    </h4>

    <div>
        <form id="propertyForm" method="post" class="row mb-5 needs-validation" asp-action="CreateFloor" asp-controller="Properties">
            <div class="mb-3 col-lg-8">
                <label asp-for="TowerId" class="form-label">
                    <strong>Tower</strong>
                </label>
                <select asp-for="TowerId" class="form-control form-select" required>
                    @foreach(var tower in towers)
                    {
                        <option value="@tower.Id">
                            @tower.PropertyName - @tower.TowerName
                        </option>
                    }
                </select>
                <div class="invalid-feedback">
                    This is a required field.
                </div>
            </div>

            <div class="mb-3 col-lg-8">
                <label asp-for="Name" class="form-label">
                    <strong>Name</strong>
                </label>
                <input asp-for="Name" class="form-control" required/>
                <div class="invalid-feedback">
                    This is a required field.
                </div>
            </div>

            <div class="mb-3 col-lg-8">
                <label asp-for="Description" class="form-label">
                    <strong>Floor Description</strong>
                </label>
                <input asp-for="Description" class="form-control" required/>
                <div class="invalid-feedback">
                    This is a required field.
                </div>
            </div>

            <div class="mb-3 col-lg-8">
                <label asp-for="FloorPlanFilePath" class="form-label">
                    <strong>Floor Plan File Path</strong>
                </label>
                <input asp-for="FloorPlanFilePath" class="form-control"/>
                <div class="invalid-feedback">
                    This is a required field.
                </div>
            </div>


            <div class="mb-3 col-lg-8">
                <input id="File" name="File" type="file" class="form-control"/>
            </div>

            <div class="col-lg-12">
                <input id="property-form-submit" class="btn btn-primary" type="submit" value="Save"/>
            </div>
        </form>
    </div>

</div>

<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Form Submission</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to submit this?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button onclick="onPropertyFormSubmit(this, '/Properties/Floors')" type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

     <script src="~/js/catalog/Property.js"></script>

}