@model TaalDc.Portal.ViewModels.Catalog.PropertyCreate_ClientDto

@{
    ViewBag.Title = "Edit - " + Model.Name;
    Layout = "_Layout";
}


<div class="container-fluid">
    <h4 class="primary-color mb-3">
        <strong>
            @Model.Name
        </strong>
    </h4>
    <div>
        <form id="propertyForm" method="post" class="row mb-5 needs-validation" asp-action="EditProperty" asp-controller="Properties">
            <input asp-for="PropertyId" hidden/>
            <div class="mb-3 col-lg-8">
                <label asp-for="Name" class="form-label">
                    <strong>Property Name</strong>
                </label>
                <input asp-for="Name" class="form-control" required/>
                <div class="invalid-feedback">
                    This is a required field.
                </div>
            </div>
            <div class="mb-3 col-lg-8">
                <label class="form-label">
                    <strong>Land Area</strong>
                </label>
                <div class="input-group mb-3">
                    <input asp-for="LandArea" type="text" class="form-control" required/>
                    <span class="input-group-text">sqm</span>
                    <div class="invalid-feedback">
                        This is a required field.
                    </div>
                </div>

            </div>

            <div class="col-lg-12">
                <input id="property-form-submit" class="btn btn-primary" type="submit" value="Save"/>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Form Submission</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to submit this?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button onclick="onPropertyFormSubmit(this)" type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/catalog/Property.js"></script>
}