@using TaalDc.Portal.DTO.Catalog.Floors;
@model TaalDc.Portal.ViewModels.Catalog.FloorCreate_ClientDto
@inject IConfiguration configuration

@{
    ViewData["Title"] = "Floor Plan";
    Layout = null;

    var portalSubURL = configuration["SubURL"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.Description</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/e49025cb51.js" crossorigin="anonymous"></script>
    <script src="~/js/common/svg-inject.js"></script>

    <style>
        body{
         position: relative;
         height: 100vh;
         max-width: 1120px !important;
         overflow: auto;
        }

        .floor-plan-print-block svg,
        .floor-plan-print-block img{
            position: absolute;
            width: auto;
            height: 100%;
        }

        #legends h5 {
            font-size: 0.9rem;
            margin-bottom: 1rem;
        }

        #legends {
            position: absolute;
            right: 5%;
            top: 5%;
            z-index: 999;
        }
    </style>

    <script>
        var floorUnits;

        async function getFloorUnitStatus() {
            console.log('getting floor units');
            var uri = '@Url.Action("GetFloorUnitsStatus","Properties", new { id = Model.FloorId })';

            return new Promise((resolve, reject) => {
                $.ajax({
                    type: 'GET',
                    url: uri,
                    success: function (data, status) {
                        resolve(data);
                    },
                    error: function (data) {

                    }
                })
            })
        }

        async function generateSVG(svg) {
            var paths = svg.getElementsByTagName('path');

            var floorUnits = await getFloorUnitStatus();

            Array.from(paths).forEach((path) => {
                var unit = floorUnits.units.find(u => u.unit === path.id.toString());

                if (unit) {
                    path.style.fill = unit.color;
                }
            })

            $('.formLoader').hide();
            //window.print();
        }

        SVGInject.setOptions({
            useCache: false, // no caching
            copyAttributes: false, // do not copy attributes from `<img>` to `<svg>`
            makeIdsUnique: false, // do not make ids used within the SVG unique
            afterLoad: function (svg, svgString) {
                $('.formLoader').show();
                generateSVG(svg);
            },
            beforeInject: function (img, svg) {
                // wrap SVG in a div element
            },
            afterInject: function (img, svg) {

            },
            onFail: function (img) {
            }
        });
    </script>
</head>
<body>
    <div>
        @if (!string.IsNullOrEmpty(Model.FloorPlanFilePath))
        {
            if (Model.FloorPlanFilePath.Contains("svg"))
            {
                @* <div id="legends">
                    <h5><strong>LEGEND:</strong></h5>
                    <ul>
                        <li>
                            <div class="leg available"></div>AVAILABLE
                        </li>
                        <li><div class="leg reserved"></div>RESERVED</li>
                        <li><div class="leg sold"></div>SOLD</li>
                        <li><div class="leg blocked"></div>BLOCKED</li>
                    </ul>
                </div>*@

                <div class="floor-plan-print-block">
                    <div class="formLoader">
                        <ul class="formLoading">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <img class="img-fluid" src="@(portalSubURL + Model.FloorPlanFilePath)" alt="Floor Plan" onload="SVGInject(this)" />
                </div>
            }
            else
            {
                <div class="floor-plan-print-block">
                    <img class="img-fluid" src="@(portalSubURL + Model.FloorPlanFilePath)" alt="Floor Plan" />
                </div>
            }
        }
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.2/dist/jquery.min.js"></script>
</body>
</html>





